@import url('https://fonts.googleapis.com/css2?family=Lemonada&family=Roboto+Slab&display=swap');


#content {
    max-width: 1600px;
    margin: 0 auto;
    font-family: Roboto Slab, Helvetica, sans-serif;
}

nav a {
    text-align: center;
    background-color: transparent;
    color: white;
    padding: 35px;
}

#hero-msg h1,
#hero-msg h4 {
    text-align: center;
    font-family: Lemonada, Helvetica, sans-serif;
}

.home-title {
    color: black;
    font-size: 2em;
    margin-top: 10px;
    font-family: Lemonada, Helvetica, sans-serif;
}

h4 {
    color: black;
    font-family: Lemonada, Helvetica, sans-serif;
}

.button-box {
    text-align: center;

}

main section {
    text-align: center;
}

#background {
    height: 725px;
    background-color: #83c5be;
}


body {
    font-size: 22px;
    background-color: #edf6f9;
    margin: 0;
    padding: 0;
}

header {
    background-color: #006d77;
}

nav a:hover {
    background-color: #83c5be;
}

.book,
.join {
    background-color: #006d77;
    color: white;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover,
.join:hover {
    background-color: #83c5be;
    color: white;
}

.icon {
    padding-top: 10px;
}

h2 {
    margin: 0;
}

.msg {
    background-color: #006d77;
    line-height: 1.5em;
    padding: 35px;
}

.msg h2 {
    font-family: Lemonada, Helvetica, sans-serif;
}

.msg h2,
.msg p {
    color: white;
}

.msg p {
    color: white;
    font-size: .8em;
    padding-bottom: 15px;
}

footer {
    background-color: #006d77;
    color: white;
    padding: 25px 50px;
    margin-top: 200px;
}

footer a {
    color: white;
}

footer a:hover {
    color: white;
}

.logo,
.icon {
    width: 80px;
}

#hero-img {
    width: 100%;
}


nav a,
.book,
.join,
footer a {
    text-decoration: none;
}

footer p {
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: underline;
}

#logo_link {
    padding-top: 5px;
}

footer .social img {
    padding-top: 15px;
}

.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0px;
}

.card-img {
    border: 10px solid #83c5be;
}

main section img {
    box-sizing: border-box;
}